@charset "UTF-8";

.text-primary-custom {
	color: #1e3a8a !important;
}

.bg-gradient {
	background: linear-gradient(135deg, #e0efff 0%, #ffffff 100%);
}

.btn-accent {
	background-color: #f59e0b;
	color: #fff;
}

.btn-accent:hover {
	filter: brightness(0.9);
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f9fa;
}

.loading-button {
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
}

.carousel-item img {
	width: 100%;
	height: 400px;
	object-fit: cover; /* Asegura que la imagen no se deforme */
}