body {
    font-family: Arial, sans-serif;
}

h1, h3, h4, h5, h6 {
    font-weight: bold;
}

.text-warning {
    color: #ffc107 !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.rounded-circle {
    object-fit: cover;
}
